@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

h1 {
	font-family: 'Poppins', san-serif;  
	color:blue; 
}

body {
	background-color: #ff5050;
	font-family:'Crimson Text', serif;
	font-weight: normal;
}

#slogan {
	font-style: italic;
}

