@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

header {
	background-color: #ffed74;  
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #ff957e; 
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #ffc675; 
	border: 1px black solid;
	padding: 20px;

}

article {
	background-color: #e89c6c; 
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-family: 'Poppins', san-serif;  
	color:blue; 
}

body {
	background-color: #ff5050;
	font-family:'Crimson Text', serif;
	font-weight: normal;
}

#slogan {
	font-style: italic;
}

#two_column {
	background-color: #68CCFF;
	border: 1% black solid;
	padding: 20%;
}

#left {
	background-color: #99FF99;
	border: 1% black solid;
	padding: 20%;
	float: left;
	width: 30%;

}

#right {
	background-color: #FF99FF;
	border: 1% black solid;
	padding: 20%;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block; 
	font-size: 0;
	content: ""; 
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1111px) {
	#right {
		float: none;
		width: auto;
	}
}

