@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

header {
	background-color: #ffed74;  
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #ff957e; 
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #ffc675; 
	border: 1px black solid;
	padding: 20px;

}

article {
	background-color: #e89c6c; 
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-family: 'Poppins', san-serif;  
	color:blue; 
}

body {
	background-color: #ff5050;
	font-family:'Crimson Text', serif;
	font-weight: normal;
}

#slogan {
	font-style: italic;
}

